



body {
   background-color: rgb(173, 219, 229);
   margin: 0%;
}

/** snowy tree tops image */
#snow {
   background: url('treetops.jpg');
   padding: 250px;
}

/** links on the image */
#snow a {
   color: rgb(11, 11, 99);
   font-size: 30px;
}

#snow a:hover {
   color: red;
}

/** paragraph on the image */
#snow p {
   text-align: left;
}

/** name and title on image */
.fullname {
   text-align: end;
   font-size: 70px;
}

.job {
   text-align: end;
   font-size: 50px;
}

/** mugshot */
.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   border-radius: 50% 20% / 10% 40%;
}

/** texts under mugshot */
.name {
   text-align: center;
   font-size: 30px;
}

.social {
   text-align: center;
   font-size: 20px;
}

.social a {
   color: rgb(11, 11, 99);
}
.social a:hover {
   color: red;
}

/** bio */
#bio {
   margin: 2%;
}

/** skills */
#skills {
   margin: 2%;
}

/** table */
table,
th,
td {
   border: 1px solid;
   border-color: rgb(247, 12, 200);
   margin: 2%;
}

/** contact me */
#contacts {
   text-align: center;
   border: 3px solid;
   margin: 2%;
   border-radius: 5%;
}